<div class="powerstats">
    <div class="powerstats__container">
        <h2 class="powerstats__title">Estadísticas de poder: </h2>
        <div class="powerstats__content">
            <div>
                <p class="powerstats__content-p"><label class="powerstats__content-p--bold">Combate: </label> {{superHeroPower.combat}} </p>
            </div>
            <div>
                <p class="powerstats__content-p"><label class="powerstats__content-p--bold">Durabilidad: </label> {{superHeroPower.durability}} </p>
            </div>
            <div>
                <p class="powerstats__content-p"><label class="powerstats__content-p--bold">Inteligencia: </label> {{superHeroPower.intelligence}} </p>
            </div>
            <div>
                <p class="powerstats__content-p"><label class="powerstats__content-p--bold">Poder: </label> {{superHeroPower.power}} </p>
            </div>
            <div>
                <p class="powerstats__content-p"><label class="powerstats__content-p--bold">Velocidad: </label> {{superHeroPower.speed}} </p>
            </div>
            <div>
                <p class="powerstats__content-p"><label class="powerstats__content-p--bold">Fuerza: </label> {{superHeroPower.strength}} </p>
            </div>
        </div>
    </div>
</div>
