<div class="about__container">
    <h2 class="about__title">¿Qué es este proyecto?</h2>
    <p class="about__content">
        Este proyecto realizado en solitario ha sido llevado a cabo principalmente para 
        familizarizarme con el framework de Angular para mejorar como desarrollador Front 
        haciendo uso de distintas herramientas. Angular es de gran utilidad debido a su escalabilidad 
        y estructuración, y además tiene una gran comunidad y cantidad de proyectos para
        consultar en caso de posibles dudas.
    </p>
    <h2 class="about__title">Agradecimientos</h2>
    <p class="about__content">
        Quiero dar las gracias a mis mentores Jaime y Samuel por ayudarme con todas las dudas
        que he podido tener y por prestarme su ayuda en cualquier momento.
    </p>
</div>