<div *ngIf="superheroesList">
    <div class="filter">
        <label>Filtrar por nombre: </label>
        <input type="text" [(ngModel)]="filter" placeholder="Introduzca un nombre"/>
    </div>
    <div class="list">
        <div class="list__card" *ngFor="let superheroe of (superheroesList | filterNames: filter)" [routerLink]="['/list/', superheroe.id]">
            <h4 class="list__card-title">{{superheroe.name}}</h4>
            <img class="list__card-image" [src]="superheroe.image" [alt]="superheroe.name" />
        </div>
    </div>
</div>