$font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

.filter {
    margin: 20px;
    text-align: center;
    font-family: $font;
}

.list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    justify-content: space-around;
    align-content: space-around;
}

.list__card {
    border: 3px solid black;
    margin: 3px;
    padding: 25px;
    cursor: pointer;
}

.list__card-title {
    font-family: $font;
    margin: 0;
    padding-bottom: 15px;
    text-align: center;
}

.list__card-image {
    max-width: 300px;
    width: auto;
    height: auto;
}