$font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

.filter {
    margin: 20px;
    text-align: center;
    font-family: $font;
}

.buttons-container{
    display: flex;
    margin: 20px;
    text-align: center;
    font-family: $font;
    justify-content: space-evenly;
    align-items: center;
}

.list__button{
    text-align: center;
    cursor: pointer;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.list__linkPage {
    cursor: pointer;
    text-decoration: none;
    color: blue;

    &:hover{
        text-decoration: underline;
    }
}

.list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    justify-content: space-around;
    align-content: space-around;
}

.list__card {
    border: 3px solid black;
    margin: 8px;
    padding: 25px;
    cursor: pointer;
}

.list__card-title {
    font-family: $font;
    margin: 0;
    padding-bottom: 15px;
    text-align: center;
}

.list__card-image {
    max-width: 300px;
    width: auto;
    height: auto;
}