<div class="funcionamiento-web__container">
    <h2 class="funcionamiento-web__title">¿Como funciona esta web?</h2>
    <p class="funcionamiento-web__content">Esta web se trata de un proyecto Angular con distintas pantallas sobre el mundo de los superhéroes.</p>
    <p class="funcionamiento-web__content">En primer lugar, cuenta con la pantalla home en la que te encuentras, que define lo que es un superhéroe y los requisitos necesarios para covertirte en uno.</p>
    <p class="funcionamiento-web__content">A continuación, una pantalla en la que se muestra una lista con un montón de superhéroes, pudiendo ver una imagen suya y su nombre.</p>
    <p class="funcionamiento-web__content">Por último, al pinchar en uno de los superhéroes, accederemos a una nueva pantalla con infromación más detallada del mismo, como por ejemplo su biografía o las estadísticas de sus poderes.</p>
</div>
<p class="funcionamiento-web__content"></p>