.funcionamiento-web__container{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

.funcionamiento-web__title {
    font-size: 28px;
    padding: 0 40px;
}

.funcionamiento-web__content {
    font-size: 16px;
    text-align: justify;
    padding: 0 40px;
    color: #5a5a5a;
}