.cart {
    text-align: center;
}

.cart__list {
    display: grid;
    grid-template-columns: auto auto;
}

.cart__list-item {
    list-style: none;
    margin: 30px;
    padding: 50px;
    border: 2px solid #f44336;
    text-decoration: none;
    color: black;
    text-align: center;
}

.cart__list-item-title {
    font-weight: normal;
}

.cart__list-item-title--bold {
    font-weight: bold;
}

.cart__delete {
    width: 90%;
    padding: 16px;
    margin: 10px;
    background: #041676;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    opacity: 0.9;
    cursor: pointer;
}

.cart__delete:hover {
    opacity: 1;
}