.login__form {
    text-align: left;
    width: 400px;
    margin: auto;
    padding: 16px;
}

.login__form-input {
    width: 90%;
    padding: 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.login__form-input:focus {
    border: 1px solid #041676;
    outline: none;
}

.login__form-button {
    background-color: #041676;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    text-align: center;
}

.login__form-button:hover {
    opacity: 1;
}

.login__register {
    text-align: center;
}

.login__register-button {
    background-color: #f1f1f1;
    padding: 20px 0;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    text-align: center;
}

.login__register-button:hover {
    opacity: 1;
}