<div class="requisitos__container">
    <div class="requisitos__content">
        <h2 class="requisitos__title">Requisitos para ser un superhéroe</h2>
        <h5 class="requisitos__subtitle">Tener siempre presente el bien común antes que el propio</h5>
        <p class="requisitos__paragraph">
            Una característica fundamental de todo héroe que se precie de tal es poder hacer a un lado su propio confort y comodidad para pensar en lo que las mayorías necesitan. El autosacrificio, la bondad, el amor por el prójimo son características que sin dudas todo héroe necesita poseer para alcanzar algún lugar de respeto en su comunidad. 
        </p>
        <h5 class="requisitos__subtitle">Buscar nuestro valor y encontrarlo cuando sea necesario</h5>
        <p class="requisitos__paragraph">
            Desde luego la valentía es necesaria para poder sobreponerse a nuestros instintos de supervivencia y arriesgarse por otros.
            Muchas veces la encontraremos cuando la situación nos lo requiera: madres que se arriesgan cuando notan que sus hijos están en peligro; bomberos que entran en edificios en llamas para salvar la vida de alguien atrapado dentro; animarse a realizar esa jugada que nos dará el triunfo en un juego para el campeonato; en definitiva, son las situaciones extremas las que nos empujarán a buscar dentro nuestro el valor necesario para salir con éxito de ellas.
        </p>
        <h5 class="requisitos__subtitle">Ser osados y honorables</h5>
        <p class="requisitos__paragraph">
            Hay situaciones que requieren de nosotros osadía: debemos mostrar que podemos tomar las riendas de una situación compleja y llevarla a nuevos lugares sin importarnos los riesgos.
            Pero al lado de la osadía debemos tener siempre como compañero al honor. Que nuestra intención de cambiar y de mejorar no choque con el sentimiento de lo que es honorable y lo que no lo es. Intentar desestabilizar a nuestros colegas, perjudicarlos o pensar únicamente en nuestro propio provecho no son prácticas honorables y de seguro nos llevarán a fracasar estrepitosamente antes que después.
        </p>
        <h5 class="requisitos__subtitle">Mantenernos humildes</h5>
        <p class="requisitos__paragraph">
        Como dijimos, para ser un héroe debemos poder poner el bien mayor por sobre nuestro interés personal. Relacionado con esto, los héroes históricos se han caracterizado también por saber dar un paso al costado cuando ese bien mayor podía ser llevado a cabo de mejor modo por otro.
        </p>
    </div>
</div>
