<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/header.css"/>
        <link rel="stylesheet" type="text/css" href="stylesheets/footer.css"/>
        <link rel="stylesheet" type="text/css" href="stylesheets/register.css"/>
    </head>

    <body>
        <header class="header">
            <a href="/"><img class="header__logo" src="https://t4.ftcdn.net/jpg/03/43/35/09/360_F_343350922_HKl2JXHSwagbkT0okcJUVGn109yjKsjR.jpg" alt="logo"></a>
        </header>
        <div class="register">
            <form action="/users/register" method="POST">
                <div class="register__form">
                    <h1 class="register__title">Crea tu cuenta</h1>
                    <hr>

                    <div class="register__form-inputs">
                        <div>
                            <label for="name"><b>Nombre</b></label>
                            <input class="register__form-input register__form-input--half" placeholder="Escriba su nombre" type="text" name="name">
                        </div>
                        <div>
                            <label for="surname"><b>Apellidos</b></label>
                            <input class="register__form-input register__form-input--half" placeholder="Escriba sus apellidos" type="text" name="surname">
                        </div>
                    </div>

                    <label for="email"><b>Correo electrónico</b></label>
                    <input class="register__form-input" placeholder="Escriba su dirección de correo electronico" type="text" name="email">
                    
                    <label for="phone_number"><b>Telefono</b></label>
                    <input class="register__form-input" placeholder="Escriba su telefono" type="tel" name="phone_number">

                    <label for="password"><b>Contraseña</b></label>
                    <input class="register__form-input" placeholder="Escriba su contraseña" type="password" name="password">
                    
                    <label for="repeat_password"><b>Confirma contraseña</b></label>
                    <input class="register__form-input" placeholder="Repita su contraseña" type="password" name="repeat_password">

                    <label for="country"><b>Pais</b></label>
                    <input class="register__form-input" placeholder="Escriba su pais" type="text" name="country">
                    <hr>

                    <input class="register__form-button" type="submit" value="Crear cuenta">

                    {{#if error}}
                        <p style="color: red;">{{error}}</p>
                    {{/if}}
                    <hr>
                    
                    <div class="register__signin">
                        <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesion</a>.</p>
                    </div>
                </div>
            </form>
        </div>
        <footer class="footer">
            <p class="footer__content">Copyright © Todos los derechos reservados. All rights reserved.</p>
        </footer>
    </body>
</html>