$font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

.detail__name {
    font-family: $font;
    text-align: center;
    font-size: 72px;
}