.home__container {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 145px;
}

.home__title {
    font-size: 50px;
}

.home__container-games {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.home__link {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    justify-content: space-between;
    font-size: 40px;
    color: black;
    border: 3px solid #FFD312;
    border-radius: 100px;
    padding: 50px;
    background-color: white;
    font-weight: bold;
    animation: Float infinite 3s ease-in-out;
}

.home__image {
    max-width: 256px;
    height: auto;
}

@keyframes Float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(12px);
    }
    100% {
        transform: translateY(0px);
    }
}