$font-stack: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
$letters-color: #1d1d1f;
$links-color: #2997ff;
$layout_bp_tablet: 768px;
$layout_bp_desktop: 1200px;

@mixin tablet {
    @media only screen and (min-width: #{$layout_bp_tablet}) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: #{$layout_bp_desktop}) {
        @content;
    }
}

body{
    margin: 0;
}

.header {
    display: flex;
    background-color: #333333;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    overflow: hidden;
    width: 100%;
    top: 0;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.header__icon {
    text-align: center;
    color: lightgrey;
    text-decoration: none;
    list-style-type: none;
    padding: 7px;

    button {
        border: none;
        background-color: #333333;
        cursor: pointer;
    }
}

.header__dropbtn:hover .header__dropbtn:focus {
    background-color: #2980B9;
}

.header__dropdown:hover .header__dropdown-content {
    display: block;
    width: auto;
}

.header__dropdown-content {
    display: none;
    background-color: $letters-color;
    min-width: 100%;
    margin-top: 48px;
    z-index: 1;

    a {
        color: lightgrey;
        padding: 15px 36px;
        text-decoration: none;
        display: block;
        text-align: left;

        &:hover {
            background-color: #555;
            color: white;
        }
    }
}

.show {
    display: block;
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

.main__content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 500px;
    background-size: cover;
    background-image: url("https://www.apple.com/v/home/ah/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_small_2x.jpg");
    background-position: center;
    background-attachment: scroll;
    margin-bottom: 15px;

    @include tablet {
        height: 650px;
    }
}

#MainImg2 {
    background-image: url("https://www.apple.com/v/home/ah/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_small_2x.jpg");

    #main__content-mobile{
        display: block;
    }

    #main__content-tablet{
        display: none;
    }

    @include tablet {
        background-image: url("https://www.apple.com/v/home/ah/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_mediumtall_2x.jpg");
    
        #main__content-mobile{
            display: none;
        }

        #main__content-tablet{
            display: block;
        }
    }
}

.main__content-centeredTop {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.main__content-centered {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

.main__content-centeredBottom {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
}

.main__content-title {
    margin: 0;
    text-decoration: none;
    color: $letters-color;
    font-style: normal;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    font-family: $font-stack;

    @include tablet {
        font-size: 48px;
        line-height: 1.08349;
    }
}

#title2-1 {
    color: #f5f5f7;
}

#title2-2 {
    color: #f5f5f7;
}

.main__content-subtitle {
    margin: 4px 0 0 0;
    text-decoration: none;
    color: $letters-color;
    font-style: normal;
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: .012em;
    font-family: $font-stack;

    @include tablet {
        margin: 5px 0 0 0;
        font-size: 24px;
        line-height: 1.16667;
        letter-spacing: .009em;
    }
}

#subtitle2-1 {
    color: #fec2eb;
}

#subtitle2-2 {
    color: #fec2eb;
}

.main__content-links {
    margin: 12px 0 0 0;
    display: flex;
    align-items: center;
    text-align: center;

    @include tablet {
        margin: 14px 0 0 0;
    }
}

.main__content-link {
    text-decoration: none;
    color: $links-color;
    font-style: normal;
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: $font-stack;

    @include tablet {
        font-size: 19px;
        line-height: 1.21053;
        color: #06c;
        letter-spacing: inherit;
        white-space: nowrap;

        &:not(:first-child){
            margin-left: 27px;
        }
    }
}

.secondary {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0 12px 12px 12px;
    }
}

.secondary__content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 500px;
    background-size: cover;
    background-image: url("https://www.apple.com/v/home/ah/images/promos/macbook-pro/tile_macbookpro__cx0ur0qg9biq_small_2x.jpg");
    background-position: center;
    margin-bottom: 15px;

    @include tablet {
        flex: 45%;
        margin-bottom: 0;
    }
}

#secondaryImg2{
    background-image: url("https://www.apple.com/v/home/ah/images/promos/airpods/tile_airpods__fuv6vgn42y2q_small_2x.jpg");
}

.secondary__content-title {
    margin: 0;
    font-style: normal;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .002em;
    font-family: $font-stack;

    @include tablet {
        white-space: nowrap;
    }
}

.secondary__content-subtitle {
    margin: 4px 0 0 0;
    font-style: normal;
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: .012em;
    font-family: $font-stack;

    @include tablet {
        white-space: nowrap;
    }
}

.footer {
    background-color: #f5f5f7;
    color: #6e6e73;
    padding: 10px;
    text-align: center;
}