.board__container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
}

.board__button {
    margin: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 35px;
    border: 2px solid #FFD312;
    box-shadow: 3px 3px 20px 2px rgb(136, 136, 136);
}

.board__button:hover {
    border: 2px solid black;
}