.footer__container {
    height: 60px;
    background-color: rgb(136, 136, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer {
    text-align: center;
    color: #FFD312;
    font-weight: bold;
}